{% extends "base.html" %}
{% load static %}
<link href="/login/static/login/css/index.css" rel="stylesheet"/>
<link href="/static/css/style.css" rel="stylesheet"/>
{% block title %}首页{% endblock %}

{% block main %}
    <br/><br/>
    <div class="container head">
        <div class="jumbotron">
{#            <img class="col-12" src="/static/image/background.png" alt="">#}
            <h2 class="display-4" style="text-align: center">锆合金工艺知识库</h2>
            <p class="lead"></p>
<br><br><br><br>
        </div>

        <div class="welcome">
            {% if is_login %}
                <div class="jumbotron">
{#                    <h1>{{ request.session.user_username }}!  欢迎回来！</h1>#}
                </div>
            {% else %}
                <div class="not-login">
                    <h2><a href="{% url 'register' %}">请注册自己的账号！</a></h2>
                    <h2>如果已经有账号，<a href="{% url 'login' %}">请登录！</a>查看更多内容。</h2>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="container main">
        <div class="row">
            <div class="col-12 post-list">
                <div class="card post">
                    <div class="card-body">
                        <h5 class="card-title" id="datetime"></h5>
                        <script>
                            setInterval("document.getElementById('datetime').innerHTML=new Date().toLocaleString();");
                        </script>
                        <form class="form-register" action="/" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
{#                                <h4 class="card-title">文件上传</h4>#}
                            <span>
                                <label for="file" class="card-text">文件上传：</label>
                                <input type="file" name="file" class="form-control-file" id="file" />
                                <button class="btn btn-primary btn-sm " type="submit">
{#                                        <i class="fa fa-folder-open" id="browse">&nbsp;&nbsp;上传</i>#}
                                    上传
                                </button>
                                <a class="btn btn-primary btn-sm " href="{% url 'upload_file_show' %}">查看</a>
                            </span>

                        </form>
                    </div>
                </div>
                <div class="card post">
                    <div class="card-body">
                        <h5 class="card-title"><a href="#">公告</a></h5>
                        <span class="card-link">发布人：<a href="#">高鹏翔</a></span>
                        <span class="card-link">分类：<a href="#">未知</a></span>
                        <span class="card-link">标签：
                            <a href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                        </span>
                        <p class="card-text">锆合金工艺知识库<a href="#">完整内容</a></p>
                    </div>
                </div>
                <div class="card post">
                    <div class="card-body">
                        <h5 class="card-title"><a href="#">公告</a></h5>
                        <span class="card-link">发布人：<a href="#">高鹏翔</a></span>
                        <span class="card-link">分类：<a href="#">未知</a></span>
                        <span class="card-link">标签：
                            <a href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                        </span>
                        <p class="card-text">锆合金工艺知识库<a href="#">完整内容</a></p>
                    </div>
                </div>
{#                <div class="page-item" style="text-align: center">#}
{#                    <a href="?page={{ page_obj.previous_page_number }}"> </a>#}
{#                    - 1 -#}
{#                    <a href="?page={{ page_obj.next_page_number }}">下一页</a>#}
{#                </div>#}
            </div>
{#            <div class="col-3">#}
{#                <div class="card sidebar">#}
{#                    <div class="card-body">#}
{#                        <h4 class="card-title">关于我</h4>#}
{#                        <p>用户名：凌音琴师</p>#}
{#                        <p>现在是湖南大学机械与运载工程学院硕士研究生</p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
        </div>
    </div>
{% endblock %}
