{% extends "base.html" %}
{% load static %}
{% block title %}Test{% endblock %}
{% block css %}
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
{% endblock %}
{% block main %}
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="container" style="background-color: red; background-image: linear-gradient(#e66465, #9198e5)">
                    <div class="col">
                        <form class="form-register" action="{% url 'index' %}" method="post"><br/>

                            <div style="text-align: center">
                                {% if register_form.captcha.errors %}
                                    <div class="alert alert-warning">{{ register_form.captcha.errors }}</div>
                                {% elif r_message %}
                                    <div class="alert alert-warning">{{ r_message }}</div>
                                {% endif %}
                            </div>

                            {% csrf_token %}
                            <h3 class="text-center">欢迎注册！</h3>

                            <div class="form-group">
                                {{ register_form.username.label_tag }}
                                {{ register_form.username }}
                            </div><br/>
                            <div class="form-group">
                                {{ register_form.real_name.label_tag }}
                                {{ register_form.real_name }}
                            </div><br/>
                            <div class="form-group">
                                {{ register_form.password1.label_tag }}
                                {{ register_form.password1 }}
                            </div><br/>
                            <div class="form-group">
                                {{ register_form.password2.label_tag }}
                                {{ register_form.password2 }}
                            </div><br/>
                            <div class="form-group">
                                {{ register_form.email.label_tag }}
                                {{ register_form.email }}
                            </div><br/>
                            <div class="form-group">
                                {{ register_form.sex.label_tag }}
                                {{ register_form.sex }}
                            </div><br/>
                            <div class="form-group">
                                {{ register_form.captcha.label_tag }}
                                {{ register_form.captcha }}
                            </div><br/>
                            <div>
                                <button type="button" class="btn btn-link">
                                    <a href="/"><ins style="color: #007bff">直接登录</ins></a>
                                </button>
{#                                <a href="/" class="text-success"><ins style="font-size: 18px">直接登录</ins></a>#}
                                <button class="btn btn-primary float-right" type="submit">注册</button>
                            </div><br/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-6" style="left: 25%">
            <div class="card post" style="margin-top: 10px; background-color: red; background-image: linear-gradient(#e66465, #9198e5);box-shadow: 0 0 40px rgba(0,0,0,.3);">
                <div class="card-body">

                    <h2 class="card-title" style="text-align: center">锆合金工艺数据库</h2>
                    <form class="form-login" action="{% url 'index' %}" method="post"><br/>
                        <div style="text-align: center">
                            {% if l_message %}
                                <div class="alert alert-warning">{{ l_message }}</div>
                            {% endif %}
                        </div>

                        {% csrf_token %}

                        <br/><br/>
                        <div class="form-group">
                            {{ login_form.username.label_tag }}
                            {{ login_form.username}}
                        </div><br/>
                        <div class="form-group">
                            {{ login_form.password.label_tag }}
                            {{ login_form.password }}
                        </div><br/>

                        <div>
                            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
                                <ins>新用户注册</ins>
                            </button>
                            <button type="button" class="btn btn-link">
                                <a href="{% url 'login:find_pass' %}"><ins style="color: #007bff">忘记密码</ins></a>
                            </button>
                            <button type="submit" class="btn btn-primary float-right">登录</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="sidebar" style="position: fixed; right: 0; top: 30%;">
                <div class="card post">
                    <div class="card-body">
                        <p><a href="{% url 'zr:create_product' %}">创建产品</a></p>
                        <p><a href="{% url 'zr:create_feature' %}">创建特征</a></p>
                        <p><a href="{% url 'zr:create_material' %}">创建材料</a></p>
                        <p><a href="{% url 'zr:feature_show' %}">特征目录</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
    $('#myModal').on('shown.bs.modal', function () {
          $('#myInput').focus()
        })
    </script>

{% endblock %}

