{% extends "base.html" %}
{% load static %}
<link href="{% static 'login/css/index.css' %}" rel="stylesheet"/>
{% block title %}首页{% endblock %}

{% block main %}
    <div class="welcome">
        {% if is_login %}
            <div class="jumbotron">
                <h1>{{ request.session.user_username }}!  欢迎回来！</h1>
            </div>
        {% else %}
            <div class="not-login">
                <h2><a href="{% url 'register' %}">请注册自己的账号！</a></h2>
                <h2>如果已经有账号，<a href="{% url 'login' %}">请登录！</a>查看更多内容。</h2>
            </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="left-column">
            <div class="card">
                <h2 style="text-align: center">留言板</h2>
                <h5 id="datetime" style="text-align: right">
                    <script>
   		                setInterval("document.getElementById('datetime').innerHTML=new Date().toLocaleString();");
                    </script>
                </h5>
                <div class="fakeimg" style="height:200px;">
                    <a href="https://pvp.qq.com/"><img src="/static/image/" alt=""></a>
                </div>
                <p style="text-align: right"></p>
                <p></p>
            </div>
            <div class="card">
                <h2 style="text-align: center"></h2>
                <h5></h5>
                <div class="fakeimg" style="height:200px;">
                    <a href="https://www.bilibili.com/"><img src="/static/image/" alt=""></a>
                </div>
                <div class="desc"></div>
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
{#     <div class="rightcolumn">#}
{#    <div class="card">#}
{#      <h2>关于我</h2>#}
{#      <div class="fakeimg" style="height:100px;">图片</div>#}
{#      <p>关于我的一些信息..</p>#}
{#    </div>#}
{#    <div class="card">#}
{#      <h3>热门文章</h3>#}
{#      <div class="fakeimg"><p>图片</p></div>#}
{#      <div class="fakeimg"><p>图片</p></div>#}
{#      <div class="fakeimg"><p>图片</p></div>#}
{#    </div>#}
{#    <div class="card">#}
{#      <h3>关注我</h3>#}
{#      <p>一些文本...</p>#}
{#    </div>#}
  </div>
</div>
{% endblock %}
