{% extends "base.html" %}
{% load static %}
<link href="/login/static/login/css/password_reset.css" rel="stylesheet">
{% block title %}修改密码{% endblock %}

{% block main %}
<div class="container">
    <div class="col">
        <form class="form-register" action="{% url 'pass_reset' %}" method="post">
        <br/>

            <div style="text-align: center">
                {% if pass_form.captcha.errors %}
                    <div class="alert alert-warning">{{ pass_form.captcha.errors }}</div>
                {% elif message %}
                    <div class="alert alert-warning">{{ message }}</div>
                {% endif %}
            </div>

            {% csrf_token %}
            <h3 class="text-center">修改密码！</h3>
            <div class="form-group">
                {{ pass_form.old_pass.label_tag }}
                {{ pass_form.old_pass }}
            </div>
            <div class="form-group">
                {{ pass_form.password.label_tag }}
                {{ pass_form.password }}
            </div>
            <div class="form-group">
                {{ pass_form.confirm_pass.label_tag }}
                {{ pass_form.confirm_pass }}
            </div><br/>
            <div class="form-group">
                {{ pass_form.captcha.label_tag }}
                {{ pass_form.captcha }}
                <button id='js-captcha-refresh' type="button" class="btn btn-link">刷新验证码</button>
            </div>
            <div>
                <a href="{% url 'logout' %}" class="text-success">
                    <button class="btn btn-primary btn-block" type="submit">保存</button>
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
