{% extends "base.html" %}
{% load static %}
{% block title %}查询{% endblock %}
{% block css %}
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block main %}
<div id="product_main" class="product_main">
        <div class="w1150">
            {% for user in users %}
                <ul>
                    <li class="col-xs-6 col-md-3">
                            <img src="{{ MEDIA_URL }}{{ user.face }}" alt="My Face" style="height: 200px; width: 200px;"/>
                            <p style="color: #1b1e21">{{ user.username }}</p>
                    </li>
                </ul>
            {% endfor %}
        </div>
    </div>
{% endblock %}