{% extends "base.html" %}
{% load static %}
<link href="{% static 'login/css/query.css' %}" rel="stylesheet"/>
{% block title %}查询{% endblock %}


{% block main %}
<div class="container">
    <div class="col">
        <form class="form-register" action="{% url 'query' %}" method="post">

            {% if message %}
                <div class="alert alert-warning" style="text-align: center">{{ message }}</div>
            {% endif %}
            {% csrf_token %}

            <div class="form-group">
                <label for="username">用户名</label>
                <input id="username" type="text" name="username" class="form-control"/>
            </div>
            <div>
                <br/>
                <button class="btn btn-primary btn-block" type="submit">确定</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}