{% extends "base.html" %}
{% load static %}
<link href="{% static 'login/css/query.css' %}" rel="stylesheet">
{% block title %}个人中心{% endblock %}

{% block main %}
    <div class="container">
        <div class="col">
            <form class="form-register" action="{% url 'user_center' %}" method="post" enctype="multipart/form-data">

                {% if message %}
                    <div class="alert alert-warning">{{ message }}</div>
                {% endif %}
                {% csrf_token %}

                <table width="100%" border="0" cellspacing="1" cellpadding="4" bgcolor="#cccccc"
                       class="tabtop13" align="center">
                    <tr>
                        <td width="8%" class="btbg font-center">用户名</td>
                        <td width="8%" class="btbg font-center">{{ user.username }}</td>
                    </tr>
                    <tr>
                        <td width="8%" class="btbg font-center">姓名</td>
                        <td width="8%" class="btbg font-center">{{ user.real_name }}</td>
                    </tr>
                    <tr>
                        <td width="8%" class="btbg font-center">邮箱</td>
                        <td width="8%" class="btbg font-center">{{ user.email }}</td>
                    </tr>
                    <tr>
                        <td width="8%" class="btbg font-center">性别</td>
                        <td width="8%" class="btbg font-center">{{ user.sex }}</td>
                    </tr>
                    <tr>
                        <td width="8%" class="btbg font-center"><label for="face">头像</label></td>
                        <td width="8%" class="btbg font-center"><img src="/static/media/{{ user.face }}"
                                                                     class="col-md-4" alt="My face" /></td>
                        <td width="8%" class="btbg font-center"><input type="file" name="face"
                                                                       class="form-control-file" id="face" /></td>
                    </tr>
                    <tr>
                        <td width="8%" class="btbg font-center">注册时间</td>
                        <td width="10%" class="btbg font-center">{{ user.c_time }}</td>
                    </tr>
                    <tr>
                        <td width="8%" class="btbg font-center"><label for="file">文件上传</label></td>
                        <td width="8%" class="btbg font-center"><input type="file" name="file"
                                                                       class="form-control-file" id="file" /></td>
                        <td width="8%" class="btbg font-center"><a href="{% url 'upload_file_show' %}">查看</a></td>
                        <td><button type="submit">上传</button></td>
                    </tr>
                    <tr>
                        <td width="8%" class="btbg font-center">修改密码</td>
                        <td width="10%" class="btbg font-center"><a href="{% url 'pass_reset' %}">请点击修改！</a></td>
                    </tr>
                </table>
                <div>
                    <a href="/" class="text-success"><ins>返回</ins></a>
                    <button class="btn btn-primary float-right" type="submit">保存</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}