body #content{
    height: 100%;
    /*background: #ffffff;*/
}

#base_footer{
    position: relative;
    margin-top: 9%;
    /*right: 45%;*/
    height: 42px;
    text-align: center;
}

#img-circle{
    border-radius: 50%;
}
