{% extends "zr_base.html" %}
{% load static %}
<link href="" rel="stylesheet">
{#<script src="/login/static/login/js/user_center.js"></script>#}
{% block title %}创建实体{% endblock %}

{% block main %}
    <div class="container">
        <div class="col">
            <form class="form-register" action="{% url 'zr:create_product' %}" method="post" enctype="multipart/form-data">
                <br/>
                <div style="text-align: center">
                    {% if message %}
                        <div class="alert alert-warning">{{ message }}</div>
                    {% endif %}
                </div>

                {% csrf_token %}
                <h3 class="text-center">创建产品！</h3>
                <table class="table table-bordered product_table1" style=" text-align: center; vertical-align: middle">

                    <tr>
                        <td><label for="id_product_name">产品名称</label></td>
                        <td>{{ product_form.product_name }}</td>
                    </tr>
                    <tr>
                        <td><label for="id_type_number">产品型号</label></td>
                        <td>{{ product_form.type_number }}</td>
                    </tr>
                    <tr>
                        <td><label for="id_product_img">产品外观</label></td>
                        <td style="text-align: left">{{ product_form.product_img }}</td>
                    </tr>
{#                </table>#}
{#                <table style=" text-align: center; vertical-align: middle">#}
{#                    <tr>#}
{#                        <td><label for="id_feature1">产品特征1</label></td>#}
{#                        <td><label for="id_feature2">产品特征2</label></td>#}
{#                        <td><label for="id_feature3">产品特征3</label></td>#}
{#                        <td><label for="id_feature4">产品特征4</label></td>#}
{#                        <td><label for="id_feature5">产品特征5</label></td>#}
{#                        <td><label for="id_material">材料类别</label></td>#}
{#                        <td><label for="id_category">产品类别</label></td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td style="text-align: left">{{ product_form.feature1 }}</td>#}
{#                        <td style="text-align: left">{{ product_form.feature2 }}</td>#}
{#                        <td style="text-align: left">{{ product_form.feature3 }}</td>#}
{#                        <td style="text-align: left">{{ product_form.feature4 }}</td>#}
{#                        <td style=" text-align: left">{{ product_form.feature5 }}</td>#}
{#                        <td style="text-align: left">{{ product_form.material }}</td>#}
{#                        <td style="text-align: left">{{ product_form.category }}</td>#}
{#                    </tr>#}
                    <tr>
                        <td><label for="id_feature1">产品特征1</label></td>
                        <td style="text-align: left">{{ product_form.feature1 }}</td>
                    </tr>
                    <tr>
                        <td><label for="id_feature2">产品特征2</label></td>
                        <td style="text-align: left">{{ product_form.feature2 }}</td>
                    </tr>
                    <tr>
                        <td><label for="id_feature3">产品特征3</label></td>
                        <td style="text-align: left">{{ product_form.feature3 }}</td>
                    </tr>
                    <tr>
                        <td><label for="id_feature4">产品特征4</label></td>
                        <td style="text-align: left">{{ product_form.feature4 }}</td>
                    </tr>
                    <tr>
                        <td><label for="id_feature5">产品特征5</label></td>
                        <td style=" text-align: left">{{ product_form.feature5 }}</td>
                    </tr>
                    <tr>
                        <td><label for="id_material">材料类别</label></td>
                        <td style="text-align: left">{{ product_form.material }}</td>
                    </tr>
                    <tr>
                        <td><label for="id_category">产品类别</label></td>
                        <td style="text-align: left">{{ product_form.category }}</td>
                    </tr>
                </table>
                <div>
                    <a href="{% url 'zr:product_show' %}" class="text-success"><ins>产品目录</ins></a>
                    <button class="btn btn-primary float-right" type="submit">提交</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
