{% extends "zr_base.html" %}
{% load static %}
<link href="" rel="stylesheet">
{% block title %}实体详细信息{% endblock %}

{% block main %}
    <div class="listbanner">
        <a><img src="" alt=""/></a>
        <script>
            if( $(window).width() < 1150 ){
                $(".listbanner a img").attr("src","");
            }
        </script>
    </div>
{#        产品#}
    <div id="product_detail_main" class="product_detail_main">
        <div class="w1150">
            <div class="product_info row">
                <div class="product_img col-xs-6 col-md-7">
                    <img src="{{ MEDIA_URL }}{{ product.product_img }}" alt=""/>
                </div>
                <div class="product_name col-xs-6 col-md-5">
                    <h3>{{ product.product_name }}</h3>
                    <p>{{ product.type_number }}</p>
                    <p>{{ product.feature_1 }}</p>
                    <p>{{ product.feature_2 }}</p>
                    <p>{{ product.feature_3 }}</p>
                    <p>{{ product.feature_4 }}</p>
                    <p>{{ product.feature_5 }}</p>
                </div>
            </div>
            <script>
                $(document).ready(function(){
                    $("#product_btns a").click(function(){
                        if(!$(this).hasClass("active")){
                            $("#product_btns a").removeClass("active");
                            $(this).addClass("active");
                            $("#product_result>div").addClass("disno");
                            $("#product_result>div").eq($(this).index()).removeClass("disno");
                        }
                    });
                });
            </script>
            <div id="product_btns" class="product_btns">
                <a class="active">基本参数</a>
                <a>可选配件</a>
            </div>
            <div id="product_result" class="product_result">
                <div class="flag1">
                    <div class="row">
                        <table class="table table-bordered product_table1">
                            <tr>
                                <td>发电机组制造商：江苏优凯动力设备有限公司</td>
                                <td>型号：YKS-S80</td>
                            </tr>
                            <tr>
                                <td>备用功率（50HZ）</td>
                                <td>80KW</td>
                            </tr>
                            <tr>
                                <td>主用功率（50HZ）</td>
                                <td>68KW</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="padding8">
                                    <p>主用功率：在一定功率范围内可以无限制运行，每运行12小时可累计1小时10%的过载。</p>
                                    <p>备用功率：为应急使用的最大功率限值，不能超负荷，即为断油功率。</p>
                                    <p>环境条件: 海拔高度:≤1000米(大于1000米时,需功率修正)，环境温度：40℃  相对湿度:≤60%。</p>
                                </td>
                            </tr>
                            <tr>
                                <td>功率因数：COSΦ=0.8（滞后）</td>
                                <td>输出电流: 144 A</td>
                            </tr>
                            <tr>
                                <td>输出电压：400V/230V</td>
                                <td>额定转速：1500rpm</td>
                            </tr>
                            <tr>
                                <td>电压整定范围：</td>
                                <td>≥+ 5%	频率波动率：≤0.5%</td>
                            </tr>
                            <tr>
                                <td>稳态电压调整率：</td>
                                <td>≤+ 1%	瞬态频率偏差（100%突减功率）：≤+12%</td>
                            </tr>
                            <tr>
                                <td>瞬态电压偏差（100%突减功率）：</td>
                                <td>≤+25	瞬态频率偏差（突加功率）：≤-10%</td>
                            </tr>
                            <tr>
                                <td>瞬态电压偏差（突加功率）：</td>
                                <td>≤-20%	频率恢复时间（100%突减功率）：≤5S</td>
                            </tr>
                            <tr>
                                <td>电压稳定时间（100%突减功率）：</td>
                                <td>≤6S	频率恢复时间（突加功率）：≤5S</td>
                            </tr>
                            <tr>
                                <td>电压稳定时间（突加功率）：</td>
                                <td>≤6S	稳态平率调整率：≤5%</td>
                            </tr>
                            <tr>
                                <td>尺寸：2300*920*1580 mm</td>
                                <td>重量:1200 kg</td>
                            </tr>
                        </table>
                    </div>
                    <div class="row product_style">
                        <div class="panel panel-default">
                            <div class="panel-body">总体描述</div>
                        </div>
                        <div class="row">
                            <p>满足环境温度40℃水箱散热器，皮带驱动冷却风扇，带风扇安全护罩</p>
                            <p>24V充电发电机</p>
                            <p>发电机：单轴承发电机，IP21防护等级，H级绝缘</p>
                            <p>内装高效能专用减震器</p>
                            <p>干式空气过滤器、燃油过滤器、机油过滤器</p>
                            <p>发电输出断路器</p>
                            <p>标准控制屏</p>
                            <p>24V启动电瓶2只及连接线一套</p>
                            <p>消声器一套</p>
                        </div>
                    </div>
                </div>
                <div class="huanbao flag2 disno">
                    <div>
                        <h3>环保</h3>
                        <div class="row">
                            <div class="pro_leftimg">
                                {% for feature_ in features %}
{#                                    <img src="/media/{{ feature_.appearance }}" alt=""/>#}
                                    <p>{{ feature_.feature_name }}</p>
                                {% endfor %}
                            </div>
                            <p></p>
                            <div class="connect">
                                <label for="quxian">曲线特征</label>
                                <select id="quxian">
                                    <option value="volvo">Volvo</option>
                                    <option value="saab">Saab</option>
                                    <option value="opel">Opel</option>
                                    <option value="audi">Audi</option>
                                </select>
                                <a>动力强劲的发动机</a>
                                <a>动力强劲的发动机</a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h3>环保</h3>
                        <div class="row">
                            <div class="pro_rightimg">
                                <img src="/media/appearance/2019/09/26/1.png" alt=""/>
                            </div>
                            <p>从装运日起一年或1500个工作时间，以先到者为准从装运日起一年或1500个工作时间，以先到者为准从装运日起一年或1500个工作时间，以先到者为准从装运日起一年或1一年或1500个工作时间，以先到者为准从装运日起一年或1500个工作时间，以先到者为准从装运日起一年或1500个工作时间，以先到者为准从装运日起一年或1500个工作时间，以先到者为准从装运日起一年或1500个工作时500个工作时间，以先到者为准从装运日起一年或1500个工作时间，以先到者为准从装运日起一年或1500个工作时间...</p>
                            <div class="connect">
                                <a>动力强劲的发动机</a>
                                <a>动力强劲的发动机</a>
                                <a>动力强劲的发动机</a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h3>环保</h3>
                        <div class="row">
                            <div class="pro_leftimg">
                                <img src="/media/scene/2019/09/26/1.png" alt=""/>
                            </div>
                            <p>从装运日起一年或1500个工作时间，以先到者为准从装运日起一年或1500个工作时间，以先到者为准从装运日起一年或1500个工作时间，以先到者为准从装运日起一年或1一年或1500个工作时间，以先到者为准从装运日起一年或1500个工作时间，以先到者为准从装运日起一年或1500个工作时间，以先到者为准从装运日起一年或1500个工作时间，以先到者为准从装运日起一年或1500个工作时500个工作时间，以先到者为准从装运日起一年或1500个工作时间，以先到者为准从装运日起一年或1500个工作时间...</p>
                            <div class="connect">
                                <a>动力强劲的发动机</a>
                                <a>动力强劲的发动机</a>
                                <a>动力强劲的发动机</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}