{% extends "base.html" %}
{% load static %}
{% block title %}实体详细信息{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/zr/css/index.css">
    <link rel="stylesheet" href="/static/css/zr/css/media.css">
    <link rel="stylesheet" href="/static/css/zr/css/detail.css">
{% endblock %}

{% block js %}
    <script type="text/javascript" src="/static/js/zr/js/detail.js"></script>
{% endblock %}

{% block main %}
    <div class="listbanner">
        <a><img src="" alt=""/></a>
        <script>
            if( $(window).width() < 1150 ){
                $(".listbanner a img").attr("src","");
            }
        </script>
    </div>
{#        产品#}
    <div id="product_detail_main" class="product_detail_main">
        <div class="w1150">
            <div class="product_info row">
                <div class="product_img col-xs-6 col-md-7">
                    <img src="{{ MEDIA_URL }}{{ product.product_img }}" alt=""/>
                </div>
                <div class="product_name col-xs-6 col-md-5">
{#                    <h3 style="text-align: center">{{ product.product_name }}</h3>#}
                    <div class="btn-group-vertical" style="margin-top: 80px">
                        <button class="button15 button15-1 button15-2">报表输出</button>
                        <button class="button15 button15-1 button15-2 margin15">添加收藏</button>
                        <button class="button15 button15-1 button15-2 margin15">关联零件</button>
                        <button class="button15 button15-1 button15-2 margin15">加入对比</button>
                    </div>
                </div>
            </div>

            <div id="product_btns" class="product_btns">
                <a class="active">基本参数</a>
                <a>可选配件</a>
            </div>
            <div id="product_result" class="product_result">
                <div class="flag1">
                    <div class="row">
                        <table class="table table-bordered product_table1">
                            <tr>
                                <td>名称</td>
                                <td>{{ product.product_name }}</td>
                            </tr>
                            <tr>
                                <td>特征1</td>
                                <td><p type="button" onclick="toggle('{{ product.feature_1 }}')">{{ product.feature_1 }}</p></td>
                            </tr>
                            <tr>
                                <td>特征2</td>
                                <td><p type="button" onclick="toggle('{{ product.feature_2 }}')">{{ product.feature_2 }}</p></td>
                            </tr>
                            <tr>
                                <td>特征3</td>
                                <td><p type="button" onclick="toggle('{{ product.feature_3 }}')">{{ product.feature_3 }}</p></td>
                            </tr>
                            <tr>
                                <td>特征4</td>
                                <td><p type="button" onclick="toggle('{{ product.feature_4 }}')">{{ product.feature_4 }}</p></td>
                            </tr>
                            <tr>
                                <td>特征5</td>
                                <td><p type="button" onclick="toggle('{{ product.feature_5 }}')">{{ product.feature_5 }}</p></td>
                            </tr>
                        </table>
                        {% for f in features %}
                            <div class="card post" id="{{ f.feature_name }}" style="display: none; min-width: 600px; margin-right: 100px">
                                <div class="card-body">
                                    <h5 class="card-title" style="text-align: center">特征卡</h5>
                                    <table class="table table-bordered product_table1">
                                        <tr>
                                            <td>特征名称</td>
                                            <td>{{ f.feature_name }}</td>
                                        </tr>
                                        <tr>
                                            <td>特征编号</td>
                                            <td>{{ f.feature_number }}</td>
                                        </tr>
                                        <tr>
                                            <td>特征类型</td>
                                            <td>{{ f.feature_type }}</td>
                                        </tr>
                                        <tr>
                                            <td>所属部件</td>
                                            <td>{{ f.part }}</td>
                                        </tr>
                                        <tr>
                                            <td>应用场景</td>
                                            <td>{{ f.scene }}</td>
                                        </tr>
                                    </table>
{#                                    <p class="card-title">特征名称：<a href="#">{{ f.feature_name }}</a></p>#}
{#                                    <p class="card-title">特征编号：<a href="#">{{ f.feature_number }}</a></p>#}
{#                                    <p class="card-title">特征类型：<a href="#">{{ f.feature_type }}</a></p>#}
{#                                    <p class="card-title">所属部件：<a href="#">{{ f.part }}</a></p>#}
{#                                    <p class="card-title">应用场景：<a href="#">{{ f.scene }}</a></p>#}
                                </div>
                            </div>

{#                            <table id="{{ f.feature_name }}" style="display: none" class="table table-bordered product_table1">#}
{#                                <tr>#}
{#                                    <td>特征名称</td>#}
{#                                    <td>{{ f.feature_name }}</td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td>特征编号</td>#}
{#                                    <td>{{ f.feature_number }}</td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td>特征类型</td>#}
{#                                    <td>{{ f.feature_type }}</td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td>所属部件</td>#}
{#                                    <td>{{ f.part }}</td>#}
{#                                </tr>#}
{#                                <tr>#}
{#                                    <td>应用场景</td>#}
{#                                    <td>{{ f.scene }}</td>#}
{#                                </tr>#}
{#                            </table>#}
                        {% endfor %}
                    </div>
                </div>

                <div class="huanbao flag2 disno">
                    <div>
                      <div class="flag1">
                        <div class="row">
                        <table class="table table-bordered product_table1">
                            <tr>
                                <td>名称</td>
                                <td>{{ product.product_name }}</td>
                            </tr>
                            <tr>
                                <td>特征1</td>
                                <td>{{ product.feature_1 }}</td>
                            </tr>
                            <tr>
                                <td>特征3</td>
                                <td>{{ product.feature_3 }}</td>
                            </tr>
                            <tr>
                                <td>特征4</td>
                                <td>{{ product.feature_4 }}</td>
                            </tr>
                            <tr>
                                <td>特征5</td>
                                <td>{{ product.feature_5 }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

<script>
$(document).ready(function(){
    $("#product_btns a").click(function(){
        if(!$(this).hasClass("active")){
            $("#product_btns a").removeClass("active");
            $(this).addClass("active");
            $("#product_result>div").addClass("disno");
            $("#product_result>div").eq($(this).index()).removeClass("disno");
        }
    });
});
</script>
{% endblock %}
