{% extends "base.html" %}
{% load static %}
{% block title %}创建材料{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
{#    <link rel="stylesheet" href="/static/css/zr/css/index.css">#}
    <link rel="stylesheet" href="/static/css/zr/css/media.css">
{% endblock %}

{% block main %}
    <div class="container">
        <div class="col">
            <form class="form-register" action="{% url 'zr:create_material' %}" method="post">
                <br/>
                <div style="text-align: center">
                    {% if message %}
                        <div class="alert alert-warning">{{ message }}</div>
                    {% endif %}
                </div>

                {% csrf_token %}
                <h3 class="text-center">创建材料！</h3>

                <table class="table table-bordered product_table1" style=" text-align: center; vertical-align: middle">

                    <tr>
                        <td>{{ material_form.material.label_tag }}</td>
                        <td>{{ material_form.material }}</td>
                    </tr>
                    <tr>
                        <td>{{ material_form.e.label_tag }}</td>
                        <td>{{ material_form.e }}</td>
                    </tr>
                    <tr>
                        <td>{{ material_form.p.label_tag }}</td>
                        <td>{{ material_form.p }}</td>
                    </tr>
                    <tr>
                        <td>{{ material_form.density.label_tag }}</td>
                        <td>{{ material_form.density }}</td>
                    </tr>
                    <tr>
                        <td>{{ material_form.k.label_tag }}</td>
                        <td>{{ material_form.k }}</td>
                    </tr>
                    <tr>
                        <td>{{ material_form.fs.label_tag }}</td>
                        <td>{{ material_form.fs }}</td>
                    </tr>
                </table>
               <br/>
                <div>
                    <a href="{% url 'zr:material_show' %}" class="text-success"><ins>材料目录</ins></a>
                    <button class="btn btn-primary float-right" type="submit">提交</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
