{% load static %}
<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="renderer" content="webkit|ie-comp|ie-stand"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">

    <link rel="stylesheet" href="/static/css/default.css">
    <link rel="stylesheet" href="/static/css/zr/css/media.css">
    <link rel="stylesheet" href="/static/css/zr/css/reset.css">
    <link rel="stylesheet" href="/static/css/zr/css/style.css">
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/zr/js/loading.js" ></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <title>国核锆业-实体目录</title>
</head>


<body>
    <div>
        <nav class="daohang">
            <a class="a" href="/"><img src="/static/image/国核锆业logo.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                        <a class="nav-link" href="/">首页<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'zr:product_list' %}">产品</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'zr:create_material' %}">创建材料</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'zr:create_feature' %}">创建特征</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'zr:create_product' %}">创建产品</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'zr:product_show' %}">产品目录</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'zr:feature_show' %}">特征目录</a></li>
                {% if is_login %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'login:user_center' %}">欢迎：{{ request.session.user_username }}</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>

{#    <section>#}
{#        <div class="wp">#}
{#            <ul  class="crumbs">#}
{#                <li><a href="/">首页</a>></li>#}
{#                <li>产品目录</li>#}
{#            </ul>#}
{#        </div>#}
{#    </section>#}

    <section>
        <div class="wp butler_list_box list">
            <div class='left'>
                <div class="listoptions">
                    <ul>
                        <li>
                            <h2>实体类别</h2>
                            <div class="cont">
                                <a href="?mate={{ material_id }}"><span class="{% ifequal category '' %}active2{% endifequal %}">全部</span></a>
                                <a href="?ct=第一种&mate={{ material_id }}">
                                    <span class="{% ifequal category '第一种' %}active2{% endifequal %}">第一种</span>
                                </a>
                                <a href="?ct=第二种&mate={{ material_id }}">
                                    <span class="{% ifequal category '第二种' %}active2{% endifequal %}">第二种</span>
                                </a>
                                <a href="?ct=第三种&mate={{ material_id }}">
                                    <span class="{% ifequal category '第三种' %}active2{% endifequal %}">第三种</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <h2>材料类别</h2>
                            <div class="more">更多</div>
                            <div class="cont">
                                <a href="?ct={{ category }}"><span class="{% ifequal material_id '' %}active2{% endifequal %}">全部</span></a>
                                {% for material in all_materials %}
                                    <a href="?mate={{ material.id }}&ct={{ category }}">
                                        <span class="{% ifequal material_id material.id|stringformat:'i' %}active2{% endifequal %}">
                                            {{ material.material }}
                                        </span>
                                    </a>
                                {% endfor %}
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="all">共<span class="key">{{ product_nums }}</span>个</div>

                <div class="butler_list  company list">
                    <div class="layout">
                        <div class="head">
                            <ul class="tab_header"><li class="active"><a href="">全部</a></li></ul>
                        </div>
                    </div>
                    <div>
                        {% for product in all_products.object_list %}
                             <dl class="des difdes">
                                <dt>
                                    <a href="{% url 'zr:product_detail' product.product_name %}">
                                        <img alt="" width="200" height="120" class="scrollLoading" src="{{ MEDIA_URL }}{{ product.product_img }}"/>
                                    </a>
                                </dt>
                                <dd>
                                    <div class="clearfix">
                                         <a href="{% url 'zr:product_detail' product.product_name %}">
                                             <h1>{{ product.product_name }}</h1>
                                             <div class="pic fl">
                                                 <img src="" alt=""/>
                                                 <img src="" alt=""/>
                                             </div>
                                         </a>
                                    </div>
                                    <ul class="cont">
                                        <li class="first">
                                            <p class="pic9">特征数：<span></span></p>
                                            <p class="c7"><span></span></p>
                                        </li>
                                        <li class="c8" style="padding-left:18px;">湖南大学</li>
                                        <li class="pic10" style="padding-left:18px;">
                                            <a href=""></a>
                                            <a href=""></a>
                                        </li>
                                    </ul>
                                </dd>
                                <div class="buy start_groupbuy jsShowPerfect2" data-id="22"><br/>联系<br/>服务</div>
                            </dl>
                        {% endfor %}
                    </div>
                    <div class="pageturn">
                        <ul class="pagelist">
                            {% if all_products.has_previous %}
                                <li class="long"><a href="?{{ all_products.previous_page_number.querystring }}">上一页</a></li>
                            {% endif %}
                            {% for page in all_products.pages %}
                                {% if page %}
                                    {% ifequal page all_products.number %}
                                        <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                                    {% else %}
                                        <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                                    {% endifequal %}
                                {% else %}
                                   <li class="none"><a href="">...</a> </li>
                                {% endif %}
                            {% endfor %}

                            {% if all_products.has_next %}
                                <li class="long"><a href="?{{ all_products.next_page_number.querystring }}">下一页</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {#侧边栏#}
    <div style="position: fixed; right: 0; top: 35%;">
        <div class="card post" style="width: 150px; height: 150px;">
            <div class="card-body">
                <button type="button" class="btn btn-primary btn-lg btn-block"><a href="{% url 'zr:create_product' %}" style="color: #1b9dec;">创建产品</a></button><br/>
                <button type="button" class="btn btn-primary btn-lg btn-block"><a href="{% url 'zr:create_feature' %}" style="color: #1b9dec">创建特征</a></button><br/>
                <button type="button" class="btn btn-primary btn-lg btn-block"><a href="{% url 'zr:create_material' %}" style="color: #1b9dec">创建材料</a></button><br/>
                <button type="button" class="btn btn-primary btn-lg btn-block"><a href="{% url 'zr:feature_show' %}" style="color: #1b9dec">特征目录</a></button>
            </div>
        </div>
    </div>
{#    <section>#}
{#        <ul class="sidebar" style="right: 10%">#}
{#            <li class="qq"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2023525077&site=qq&menu=yes"></a></li>#}
{#            <li class="totop"></li>#}
{#        </ul>#}
{#    </section>#}

    <script src="/static/js/zr/js/selectUi.js" type='text/javascript'></script>
    <script src="/static/js/zr/js/deco-common.js" type='text/javascript'></script>
    <script type="text/javascript" src="/static/js/zr/js/laydate/laydate.js"></script>
    <script src="/static/js/zr/js/layer/layer.js"></script>
    <script src="/static/js/zr/js/unslider.js" type="text/javascript"></script>
    <script src="/static/js/zr/js/jquery.scrollLoading.js" type="text/javascript"></script>
    <script>
        $(function(){
            $('#jsStayBtn').on('click', function(){
                $.ajax({
                    cache: false,
                    type: "POST",
                    url:"/org/add_ask/",
                    data:$('#jsStayForm').serialize(),
                    async: true,
                    success: function(data) {
                        if(data.status == 'success'){
                            $('#jsStayForm')[0].reset();
                            alert("提交成功")
                        }else if(data.status == 'fail'){
                            $('#jsCompanyTips').html(data.msg)
                        }
                    },
                });
            });
        })
    </script>
{#    <footer id="base_footer">#}
{#        <div class="container power">#}
{#           <span class="text-muted">@国核宝钛锆业股份公司</span>#}
{#        </div>#}
{#    </footer>#}
</body>
</html>
