{% extends "zr_base.html" %}
{% load static %}
{% block title %}实体目录{% endblock %}

{% block main %}
    <div id="product_main" class="product_main">
        <div class="w1150">
            {% for product in products %}
                <ul>
                    <li class="col-xs-6 col-md-3">
                        <a href="{% url 'zr:product_detail' product.product_name %}">
                            <img src="{{ MEDIA_URL }}{{ product.product_img }}" alt=""/>
                            <p style="color: #1b1e21">{{ product.product_name }}</p>
                        </a>
                    </li>
                </ul>
            {% endfor %}
        </div>
    </div>
{% endblock %}