{% extends "base.html" %}
{% load static %}
{% block title %}List{% endblock %}
{% block css %}
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/zr/css/media.css">
{% endblock %}
{% block main %}
{#    <div class="banneron">#}
{#        <img src="/static/image/20180616110607VgCjpa.jpg" border="0" alt="">#}
{#    </div>#}

    <div class="banneron" style="height: auto; font-size: 20px">
{#        <div class="listoptions">#}
{#            <ul>#}
{#                <li>#}
{#                    <div style="float: left"><h3>实体类别</h3></div>#}
{#                    <div class="cont" style="float: left;margin-left: 0;">#}
{#                        <a href="?mate={{ material_id }}"><span class="{% ifequal category '' %}active2{% endifequal %}">全部&nbsp;</span></a>#}
{#                        <a href="?ct=第一种&mate={{ material_id }}"><span class="{% ifequal category '第一种' %}active2 {% endifequal %}">第一种&nbsp;</span></a>#}
{#                        <a href="?ct=第二种&mate={{ material_id }}"><span class="{% ifequal category '第二种' %}active2{% endifequal %}">第二种&nbsp;</span></a>#}
{#                        <a href="?ct=第三种&mate={{ material_id }}"><span class="{% ifequal category '第三种' %}active2{% endifequal %}">第三种</span></a>#}
{#                    </div>#}
{#                </li>#}
{#                <li>#}
{#                    <div style="float: left"><h3>材料类别</h3></div>#}
{#                    <div class="cont" style="float: left;margin-left: 0;">#}
{#                        <a href="?ct={{ category }}"><span class="{% ifequal material_id '' %}active2{% endifequal %}">全部&nbsp;</span></a>#}
{#                        {% for material in all_materials %}#}
{#                            <a href="?mate={{ material.id }}&ct={{ category }}"><span class="{% ifequal material_id material.id|stringformat:'i' %}active2{% endifequal %}">#}
{#                                {{ material.material }}&nbsp;#}
{#                            </span></a>#}
{#                        {% endfor %}#}
{#                    </div>#}
{#                </li>#}
{#            </ul>#}
{#        </div>#}
    </div>

    <div class="mainer">
        <div class="mainer-title" style="margin-top: 15px">
            <a href="/" class="guide_menu"> 首页</a> &gt;&gt;
            <a href="{% url 'zr:product_list' %}" class="guideMenu">产品服务</a> &gt;&gt;
            <a href="/" class="guideMenu">工业级锆产品</a>
        </div>

        <div class="mainer-list">
            <div id="mainer-mid">
                <div class="lump-title-list">
                    <div class="title_list">
                        <a href="{% url 'zr:product_show' %}" target="">实体&nbsp;</a>
                        <a href="{% url 'zr:create_product' %}" target="">创建实体&nbsp;</a>
                        <a href="{% url 'zr:create_material' %}" target="">创建材料&nbsp;</a>
                        <a href="{% url 'zr:create_feature' %}" target="">创建特征</a>
                    </div>
                    <div class="more_list"><a href="{% url 'zr:product_show' %}" target="">+更多</a></div>
                </div>
                <div id="product_main" class="product_main">
    {#            <div class="txpic_list">#}
                    {% for product in all_products %}
                        <ul><li>
                            <span><a href="{% url 'zr:product_detail' product.product_name %}">
                                <img alt="" width="200" height="120" class="scrollLoading" src="{{ MEDIA_URL }}{{ product.product_img }}"/>
                            </a></span>
                            <h1><a href="{% url 'zr:product_detail' product.product_name %}">{{ product.product_name }}</a></h1>
                        </li></ul>
                    {% endfor %}
                </div>

                <div class="lump-title-list">
                    <div class="title_list"><a href="http://www.sn-zr.com/index.php?ie=31-412-1" target="">海绵锆</a></div>
                    <div class="more_list"><a href="http://www.sn-zr.com/index.php?ie=31-412-1" target="">+更多</a></div>
                </div>
                <div class="txpic_list">
                    <ul><li>
                        <span><a href="http://www.sn-zr.com/index.php?ie=32-412-178-1" target="_blank">
                            <img src="/static/image/20180627160628fetx39.jpg" border="0" alt="">
                        </a></span>
                        <h1><a href="http://www.sn-zr.com/index.php?ie=32-412-178-1" target="_blank">海绵锆</a></h1>
                    </li></ul>
                </div>
                <div class="lump-title-list">
                    <div class="title_list"><a href="http://www.sn-zr.com/index.php?ie=31-413-1" target="">铸锭</a></div>
                    <div class="more_list"><a href="http://www.sn-zr.com/index.php?ie=31-413-1" target="">+更多</a></div>
                </div>
                <div class="txpic_list">
                    <ul><li>
                        <span><a href="http://www.sn-zr.com/index.php?ie=32-413-186-1" target="_blank">
                            <img src="/static/image/20180627160640HWsA1R.jpg" border="0" alt="">
                        </a></span>
                        <h1><a href="http://www.sn-zr.com/index.php?ie=32-413-186-1" target="_blank">铸锭</a></h1>
                    </li></ul>
                </div>
                <div class="lump-title-list">
                    <div class="title_list"><a href="http://www.sn-zr.com/index.php?ie=31-414-1" target="">管材</a></div>
                    <div class="more_list"><a href="http://www.sn-zr.com/index.php?ie=31-414-1" target="">+更多</a></div>
                </div>
                <div class="txpic_list">
                    <ul><li>
                        <span><a href="http://www.sn-zr.com/index.php?ie=32-414-167-1" target="_blank">
                            <img src="/static/image/20180615160622OO1FNl.jpg" border="0" alt="">
                        </a></span>
                        <h1><a href="http://www.sn-zr.com/index.php?ie=32-414-167-1" target="_blank">工业级锆管</a></h1>
                    </li></ul>
                </div>
                <div class="lump-title-list">
                    <div class="title_list"><a href="http://www.sn-zr.com/index.php?ie=31-415-1" target="">棒材</a></div>
                    <div class="more_list"><a href="http://www.sn-zr.com/index.php?ie=31-415-1" target="">+更多</a></div>
                </div>
                <div class="txpic_list">
                    <ul><li>
                        <span><a href="http://www.sn-zr.com/index.php?ie=32-415-170-1" target="_blank">
                            <img src="/static/image/20180615160621DOmwxm.jpg" border="0" alt="">
                        </a></span>
                        <h1><a href="http://www.sn-zr.com/index.php?ie=32-415-170-1" target="_blank">工业级锆棒</a></h1>
                    </li></ul>
                </div>
                <div class="lump-title-list">
                    <div class="title_list"><a href="http://www.sn-zr.com/index.php?ie=31-416-1" target="">板材</a></div>
                    <div class="more_list"><a href="http://www.sn-zr.com/index.php?ie=31-416-1" target="">+更多</a></div>
                </div>
                <div class="txpic_list">
                    <ul><li>
                        <span><a href="http://www.sn-zr.com/index.php?ie=32-416-168-1" target="_blank">
                            <img src="/static/image/20180615160612mRv4Cf.jpg" border="0" alt="">
                        </a></span>
                        <h1><a href="http://www.sn-zr.com/index.php?ie=32-416-168-1" target="_blank">工业级锆板</a></h1>
                    </li></ul>
                </div>
                <div class="lump-title-list">
                    <div class="title_list"><a href="http://www.sn-zr.com/index.php?ie=31-417-1" target="">带材</a></div>
                    <div class="more_list"><a href="http://www.sn-zr.com/index.php?ie=31-417-1" target="">+更多</a></div>
                </div>
                <div class="txpic_list">
                    <ul><li>
                        <span><a href="http://www.sn-zr.com/index.php?ie=32-417-172-1" target="_blank">
                            <img src="/static/image/20180615160617xSJuVa.jpg" border="0" alt="">
                        </a></span>
                        <h1><a href="http://www.sn-zr.com/index.php?ie=32-417-172-1" target="_blank">工业级锆带</a></h1>
                    </li></ul>
                </div>
                <div class="lump-title-list">
                    <div class="title_list"><a href="http://www.sn-zr.com/index.php?ie=31-418-1" target="">丝材</a></div>
                    <div class="more_list"><a href="http://www.sn-zr.com/index.php?ie=31-418-1" target="">+更多</a></div>
                </div>
                <div class="txpic_list">
                    <ul><li>
                        <span><a href="http://www.sn-zr.com/index.php?ie=32-418-187-1" target="_blank">
                            <img src="/static/image/20180627160642V0oXTV.jpg" border="0" alt="">
                        </a></span>
                        <h1><a href="http://www.sn-zr.com/index.php?ie=32-418-187-1" target="_blank">工业级锆丝</a></h1>
                    </li></ul>
                </div>
            </div>
        </div>

        <div class="mainer-side">﻿
            <div class="righter">
                <div id="right-title"><h1>工业级锆产品</h1></div>
                <div id="right-mid">
                    <div id="right-list">
                        <ul>
                            <li><a href="{% url 'zr:product_show' %}">实体</a></li>
                            <li><a href="http://www.sn-zr.com/index.php?ie=31-412-1">海绵锆</a></li>
                            <li><a href="http://www.sn-zr.com/index.php?ie=31-413-1">铸锭</a></li>
                            <li><a href="http://www.sn-zr.com/index.php?ie=31-414-1">管材</a></li>
                            <li><a href="http://www.sn-zr.com/index.php?ie=31-415-1">棒材</a></li>
                            <li><a href="http://www.sn-zr.com/index.php?ie=31-416-1">板材</a></li>
                            <li><a href="http://www.sn-zr.com/index.php?ie=31-417-1">带材</a></li>
                            <li><a href="http://www.sn-zr.com/index.php?ie=31-418-1">丝材</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
