{% load static %}
<!DOCTYPE html>
<html lang="zh-cmn-Hans">

	<head>
        <meta charset="UTF-8">
    {#    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>#}
        <meta name="keywords" content="工业级锆产品,产品列表,国核宝钛锆业股份公司">
        <meta name="description" content="工业级锆产品,产品列表,国核宝钛锆业股份公司">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=1">
		<!-- 避免IE使用兼容模式 -->
		<meta name="renderer" content="webkit|ie-comp|ie-stand"/>
{#		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">#}
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/default.css">
		<link rel="stylesheet" href="/static/css/zr/css/index.css">
		<link rel="stylesheet" href="/static/css/zr/css/media.css">
		<script type="text/javascript" src="/static/js/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/zr/js/loading.js" ></script>
		<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
        {% block css %}{% endblock %}
        {% block js %}{% endblock %}
		<title>国核锆业-{% block title %}产品{% endblock %}</title>
	</head>

	<body>
        <div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default">
                <a class="navbar-brand" href="/"><img src="/static/image/国核锆业logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active"><a class="nav-link" href="/">首页<span class="sr-only">(current)</span></a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'zr:product_list' %}">产品</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'zr:create_material' %}">创建材料</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'zr:create_feature' %}">创建特征</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'zr:create_product' %}">创建产品</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'zr:product_show' %}">产品目录</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'zr:feature_show' %}">特征目录</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'zr:main' %}">hhhh</a></li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0" role="search" action="{% url 'zr:index' %}" method="POST">
                        {% csrf_token %}
                        {{ search_form.product_name.label_tag }}
{#                        {{ search_form.product_name }}#}
                        <input name="product_name" id='id_product_name' type="text" class="form-control mr-sm-2" placeholder="输入关键字">
                        <button class="btn btn-outline-success" type="submit">搜索</button>
                    </form>
                </div>
            </nav>
        </div>
        {% block main %}{% endblock %}
        <footer id="base_footer">
            <div class="container power">
                <span class="text-muted">@国核宝钛锆业股份公司</span>
            </div>
        </footer>
    </body>
</html>